<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>insertQuestions</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<link rel="stylesheet" href="/css/insertQuestionStyle.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="/js/insertQuestion.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
  <main class="page payment-page">
    <section class="payment-form dark">
      <div class="container">
        <div class="block-heading">
          <h2>문제 등록 PAGE</h2>
          <p>문제를 추가하려면 추가 버튼을 누르세요.</p>
        </div>
        <form th:id ="questionForm" th:action="@{/test/questionRegister}" th:object="${test}" method="post">
          <div class="products">
            <h3 class="title">기본정보</h3>
            <div class="item">
              <label for="TestListId" class="item-name">문제집이름</label>
              <input class="form-control" type="text" th:field="*{TestlistId}" placeholder="문제집이름을 입력해 주세요."/>
            </div>
            <div class="item">
              <label for="classId" class="item-name">반이름</label>
              <input class="form-control" type="text" th:field="*{classId}" placeholder="반이름을 입력해 주세요." />
            </div>
            <div class="item">
              <label for="academyId" class="item-name">학원명</label>
              <input class="form-control" type="text" th:field="*{academyId}" placeholder="학원명을 입력해 주세요." />
            </div>
            
            <div>
                <br>
                <button type="button" class="btn btn-primary btn-block" th:onclick="insertQuestion()">저장하기</button>
                <br>
                <a th:href="@{/test/main.html}" class="btn btn-primary btn-block">뒤로가기</a>
                <br>
                <button class="btn btn-primary btn-block" type="button" th:onclick="addQuestion()">문제추가</button>
                <br>
            </div>
          </div>
          <div class="card-details">
            <h3 class="title">문제정보</h3>
            <div class="row">
              <div class="form-group col-sm-12">
                <p th:id="count0" th:text="${count}+1"></p>
                
                <label for="questionContent">문제 내용</label>
                <input class="form-control" type="text" th:id="questionContent0" th:name="questionContent" placeholder="문제를 입력해 주세요." />
              
                <label for="score">배점</label>
                <input class="form-control" type="number" th:id="score0" th:name="score"/>
                
                <label for="answer">문제의 답</label>
                <input class="form-control" type="text" th:id="answer0" th:name="answer" placeholder="답을 입력해 주세요." />
              </div>
            </div>
          </div>
        </form>
        </div>
    </section>
  </main>
</body>

</html>
