<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>문제집 등록</title>
    
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/insertTestList2.css" rel="stylesheet">
    
    <!--  -->
    <script defer src="/js/insertTestList.js"></script>
    
</head>
<body>

        <section id="appointment" class="appointment section-bg">
      <div class="container">

        <div class="section-title">
          <h2>문제집 등록</h2>
          </div>

        <form th:action="@{/testListRegister}" th:object="${testlist}" method="post" class="php-email-form">
          <div class="row">
            <div class="col-md-6 form-group">
              <input class="form-control" type="text" th:field="*{testListId}" placeholder="문제집이름을 입력해 주세요" />
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6 form-group">
              <button class="form-control" type="button">과목 추가</button>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6 form-group">
              <button class="form-control" type="button" th:id="addClassId" th:value="addClassId" th:onclick="button()">반 추가</button>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-6 form-group">
              <button class="form-control" type="button">학원 추가</button>
            </div>
          </div>
          
          <div class="col-md-6 form-group" style="text-align:center;">
               <button class="appointment-btn" type="submit">저장하기</button>
          </div>
        </form>

      </div>
    </section>

</body>
</html>