<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>MainPage</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <a th:href="@{/test/insertTestList.html}">문제집 등록</a>
        <a th:href="@{/test/insertQuestion.html}">문제 등록</a>
        <form th:action="@{/test/resultViewQuestion.html}" th:object="${test}" method="post">
            <input type="text" th:field="*{TestlistId}" placeholder="문제 목록을 조회할 문제집 이름">
            <button type="submit">문제목록 이동</button>
        </form>
        <form th:action="@{/test/viewTest.html}" th:object="${test}" method="post">
            <input type="text" th:field="*{TestlistId}" placeholder="문제를 조회할 문제집 이름">
            <button type="submit">문제풀기 이동</button>
        </form>
        <div>
            <form th:action="@{/test/markAnswer.html}" th:object="${test}" method="post">
                <input type="text" th:field="*{TestlistId}" placeholder="채점할 문제집 이름">
                <input type="text" th:field="*{StudentId}" placeholder="채점할 학생 ID">
                <button type="submit">채점창 이동</button>
            </form>
        </div>
    </body>
</html>