<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
    
    <!-- title -->
    <th:block layout:fragment="title">
        <title></title>
    </th:block>
    
    <!-- customCss layout start -->
    <th:block layout:fragment="customCss">
    </th:block>
    <!-- customCss layout end -->
    
    <!-- customJs layout start -->
    <th:block layout:fragment="customJs">
    </th:block>
    <!-- customJs layout end -->
    
    <!-- content layout start -->
    <div layout:fragment="content">
        
    </div>
    <!-- content layout end -->
    
</html>